#box-links {
    display:flex;
    flex-direction:column;
}
#bild {
    border-radius: 100%;
    height:500px;
    width:500px;
    display: inline-block;
    margin-bottom:30px;
}
.schrift {
    font-size: 3rem;
    color:#3e8de7;
    margin-left:50px;
    flex-basis: 80px;
}

#text {
    font-size: 20px;
    color:#4a97f0;
}
.popup {
    position: relative;
    align-self:flex-end;
    right:50px;
    top:50px;
    display: inline-flex;
    cursor: pointer;
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#ueberschrift {
    font-size: 5rem;
    background: linear-gradient(to left,#45f3ff, #2d96d3, #1b4888, #3288d4, #254d9b, #45f3ff);
    background-clip: text;
    color: transparent;
    position:absolute;
    right:240px;
    top:-80px;
}
/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: auto;
    background-color: #40424e29;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 60%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #555 transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.popup:hover .show {
    /*transform:scale(2);*/
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
#nav-menue li {
    list-style: none;
    padding:10px;
    font-size: 2rem;
}
#nav-menue a:link {
    color:white;
    text-decoration: none;
    font-size: 20px;
    padding:0px 10px 0px 10px;
}
#nav-menue a:visited {
    color:white;
    text-decoration: none;
}
#nav-menue a:hover {
    color:#4a97f0;
    text-decoration: none;
    transform: scale(5);
    padding:10px;
    border-radius: 7px;
}
#box {
    display: flex;
    flex-wrap: wrap;
}
#about-me {
    margin: 80px auto;
    max-width:500px;
}
#topbox {
    margin:80px 170px 80px 0px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
}
#topbox p {
    font-size: 20px;
}
.kontakt-eins {
    margin-left: 60px;
}
.icon-eins {
    margin:10px;
    height:30px;
}
.hover:hover {
    transform:scale(1.5);
}
.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin:30px;
    color:#2d96d3;
}