* {
    font-family: sans-serif;
}
body {
    background:linear-gradient(to left, #40424e, #23242a, #23242a, #23242a, #23242a, #3c3e49) ;
    font-family: sans-serif;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
#part {
    max-width: 1250px;
    width: 100%;
    background-color: #23242a;
    margin: 0 auto;
    font-family: sans-serif;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
p, h1, h2, h3, tr, li, a {
    color:white;
}

.text {
    text-align: center;
    position: relative;
    font-size: 19px;
    color: #45f3ff;
    margin: 10px 30px 20px 30px;
    padding: 0px 20px 10px 20px;
}
.mittig {
    text-align: center;
    width:100%;
    padding-top:40px;
}
.grosse-ueberschrift {
    text-align: center;
    font-weight:bold;
    
}
hr {
    margin-top:50px;
    color: #45f3ff;
    flex:none;
    width:100%;
}
#quer {
    display: flex;
    flex-direction: column;
}
