footer {
    margin-top: auto;
}
#downleiste {
    max-width:1250px;
    width:100%;
    
}
#downleiste li {
    color:white;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 10px 0px 10px;
    position:relative;
}
#topleiste a:link {
    color:white;
    text-decoration: none;
    font-size: 16px;
    padding: 20px 10px 20px 10px;
}
#topleiste a:visited {
    color:white;
    text-decoration: none;
}
#topleiste a:hover {
    color:black;
    background-color: white;
    text-decoration: none;
}
#downleiste a:hover {
    text-decoration: none;
}
.linkeliste {
    display:flex;
    align-items:center;
}
.rechts {
    margin-left:auto;
}
.icon .rechtsicon{
    height:50px;
    width:50px;
}
.rechtsicon {
    margin-left:auto;
}
a {
    font-size: 20px;
}

