#about-me {
    display: flex;
    flex-direction: column;
}
#bildung {
    height: auto;
    float:left;
    margin:20px 0px 20px 0px;
}
.bild {
    padding:30px;
}
.skillbloecke {
    width: 1250px;
    margin: 6px;
    float: left;
    height:300px;
    width:100%;
}
#skillblock {
    background-color: white;
    width: 280px;
    padding: 60px;
    margin-bottom: 1px;
    border-radius:2%;
}
#stage {
    height: auto;
    float:left;
    margin:20px 0px 20px 0px;
    padding: 10px 0px 20px 0px;
}
#documents {
    height: auto;
    width:100%;
    float:left;
    margin:20px 0px 20px 0px;
    padding: 10px 0px 20px 0px;
}
.list li{ 
    list-style: none;
    padding: 20px;
}
.list a:link {
    color:black;
}
.list a:visited {
    color:black;
}
list a:hover {
    background-color:#c8b18a;
}
#projects {
    max-width: 1250px;
    width: 100%;
    background-color: #23242a;
    margin: 0 auto;
    font-family: sans-serif;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
#grauerblock {
    display: flex;
    justify-content: center;
}
.bloecke {
    background: linear-gradient(to left, rgb(247, 240, 240), rgb(235, 220, 220), rgb(241, 234, 234));
    border-radius: 7px;
    width: auto;
    margin: 20px;
    padding:10px;
}
.erklärung {
    color:black;
}
#reviews {
    height: auto;
    float:left;
    margin:20px 0px 20px 0px;
    padding: 10px 0px 20px 0px;
}
.contact {
    text-align: center;
}
.contact li{
    list-style: none;
    position:relative;
}
