* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif; 
    margin:0;
}
.mySlides, .meineSlides {
    display: none;
}

img {
    vertical-align: middle;
}
summary {
    color:rgb(46, 50, 51);
}
summary:hover {
    color:rgb(238, 233, 233);
}
.slideshow-container {
    max-width: 1000px;
    height:1000px;
    background: linear-gradient(to left, #a9b1b6, #9cc2e3, #a7b6c0, #787b7e) ;
    position: relative;
    margin: auto;
    overflow:hidden;
    padding:10px 20px;
}

.prev, .prev2, .next, .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 30px;
    margin-top: -22px;
    color: rgb(79, 109, 162);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next, .next2{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev, .prev2{
    left:0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover, .prev2:hover, .next2:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #8d89899d;
}
.text:hover {
    background:#3b37379d;
}
.numbertext {
    color: #9c9b9b;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ebe9e9;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}