* {
    font-family: sans-serif;
}
body {
    background:linear-gradient(to left, #40424e, #23242a, #23242a, #23242a, #23242a, #3c3e49) ;
    font-family: sans-serif;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
.part {
    max-width: 1250px;
    width: 100%;
    background-color: #23242a;
    margin: 0 auto;
    font-family: sans-serif;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
.hover:hover {
    transform:scale(1.5);
}
.linkeliste {
    display:flex;
    color: white;
    justify-content: space-around;
    align-self:flex-end;
}
.linkeliste li {
    list-style:none;
    margin:10px;
}

.untere-leiste-divs {
    display:flex;
    justify-content: space-around;
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin:30px;
    color:#2d96d3;
    font-size: 1.1rem;
}
footer {
    margin-top: auto;
}