body {
    background-color: #D5D7DC;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    font-family: "Times New Roman", serif;
}
#topleiste {
    background-color: #1E305C;
    max-width:1250px;
    width:100%;
    height: 50px;
    position: fixed;
    z-index:10;
}
#downleiste {
    background-color: #1E305C;
    max-width:1250px;
    width:100%;
    height: 53px;
    float:left;
}
#topleiste li {
    list-style: none;
}
#downleiste li {
    color:white;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
}
#topleiste a:link {
    color:white;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 10px 16px 10px;
}
#topleiste a:visited {
    color:white;
    text-decoration: none;
}
#topleiste a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}
#downleiste a:hover {
    text-decoration: none;
}
.linkeliste {
    display:flex;
    align-items:center;
}
.rechts {
    margin-left:auto;
}
.rechtsicon {
    margin-left:auto;
    padding-bottom:8px;
}
#bild {
    content: url(blauerRollkragen.jpg);
    width: 500px;
    float: left;
    margin-right: 20px;
    padding-top:28px;
}
#ueberschrift {
    font-size: 4rem;
    font-family: "times new roman", serif;
    position: relative;
    top:150px;
    text-align: center;
}
#name {
    font-size: 2rem;
    font-family: times new roman;
    position: relative;
    text-align: center;
    top:250px;
}
#about-me {
    background-color: #DBDAD5;
    height: auto;
    padding: 80px;
    float:left;
}
.text {
    text-align: center;
    position: relative;
    font-size: 19px;
    margin: 10px 30px 20px 30px;
    padding: 0px 20px 10px 20px;
}
.mittig {
    text-align: center;
    width:100%;
    padding-top:20px;
    padding-bottom: 10px;
}
.bild {
    padding:30px;
}
#bildung {
    height: auto;
    float:left;
    margin:20px 0px 20px 0px;
}
#stage {
    background-color:#DBDAD5;
    height: auto;
    float:left;
    margin:20px 0px 20px 0px;
    padding: 10px 0px 20px 0px;
}
#documents {
    height: auto;
    width:100%;
    float:left;
    margin:20px 0px 20px 0px;
    padding: 10px 0px 20px 0px;
}
.list li{ 
    list-style: none;
    padding: 20px;
}
#projects {
    height: auto;
    float:left;
    margin:20px 0px 20px 0px;
    padding: 10px 0px 20px 0px;
}
#reviews {
    height: auto;
    float:left;
    margin:20px 0px 20px 0px;
    padding: 10px 0px 20px 0px;
}
.bloecke {
    width: 1250px;
    margin: 6px;
    float: left;
    height:600px;
    width:100%;
}
#grauerblock {
    background-color: #BAB3AF;
    width: 280px;
    padding: 10px;
    margin-bottom: 1px;
    border-radius:2%;
}
.icon {
    padding-bottom:5px;
    margin:5px;
    padding-left:40px;
}
h1 {
    padding-top: 120px;
    padding-left: 30px;
    text-decoration: underline;
}
.contact {
    text-align: center;
}

.contact li{
    list-style: none;
    position:relative;
}
.skillbloecke {
    width: 1250px;
    margin: 6px;
    float: left;
    height:300px;
    width:100%;
}
#skillblock {
    background-color: #DBDAD5;
    width: 280px;
    padding: 60px;
    margin-bottom: 1px;
    border-radius:2%;
}